<div #modalContainer class="modal__container">
  <h2 class="modal__title">Вход</h2>
  <form
    class="modal__form"
    [formGroup]="authorizationForm"
    novalidate
    (submit)="logIn()"
  >
    <div class="modal__row">
      <input
        type="text"
        name="login"
        id="login"
        class="modal__input"
        formControlName="login"
      />
      <label
        *ngIf="
          authorizationForm.controls['login'].invalid &&
          authorizationForm.controls['login'].touched
        "
        for="login"
        >Обязательное и более 4 символов!</label
      >
    </div>
    <div class="modal__row">
      <input
        type="password"
        name="password"
        id="password"
        class="modal__input"
        formControlName="password"
      />
      <label
        *ngIf="
          authorizationForm.controls['password'].invalid &&
          authorizationForm.controls['password'].touched
        "
        for="password"
        >Обязательное и более 8 символов!</label
      >
    </div>
    <div class="modal__row">
      <input
        type="checkbox"
        name="save"
        class="modal__checkbox"
        id="save"
        formControlName="save"
      />
      <label for="save">Запомнить</label>
    </div>
    <div class="modal__row modal__row--align-center">
      <button class="modal__btn" [disabled]="authorizationForm.invalid">
        Войти
      </button>
    </div>
  </form>
</div>
