<app-container>
  <footer class="footer">
    <div class="footer__logo">
      <img src="{{ logoFooter }}" alt="htc-cs.ru" class="footer__logo-image" />
    </div>
    <div class="footer__info">
      <span class="footer__text">
        426057, Россия, Удмуртская Республика, г. Ижевск, ул. Карла Маркса, 246
        (ДК «Металлург»)
      </span>
      <span class="footer__text"> +7 (3412) 93-88-61, 43-29-29 </span>
      <a href="{{ linkCompany }}" class="footer__link" target="_blank"
        >htc-cs.ru</a
      >
    </div>
  </footer>
</app-container>
