<header class="header">
  <div class="header__logo">
    <img src="{{ logoImage }}" alt="Видеосервис" class="header__logo-image" />
    <span class="header__logo-text">Видеосервис</span>
  </div>
  <div class="header__search">
    <form
      [formGroup]="searchForm"
      class="header__form"
      novalidate
      (ngSubmit)="submit()"
    >
      <input type="search" class="header__input" id="search-input" formControlName="search" placeholder="Поиск..."/>
      <button class="search-btn" [disabled]="searchForm.invalid">Найти</button>
    </form>
  </div>
  <app-authorization></app-authorization>
</header>
