<div class="comments">
  <h3 class="comments__title">Комментарии</h3>
  <div *ngIf="authorization" class="comments__enter">
    <form
      [formGroup]="commentForm"
      class="comment__form"
      novalidate
      (ngSubmit)="submit()"
    >
      <textarea
        formControlName="comment"
        class="comment__textarea"
        placeholder="Введите комментарий..."
        id="comment__textarea"
      ></textarea>
      <label
        *ngIf="
          commentForm.controls['comment'].invalid &&
          commentForm.controls['comment'].touched
        "
        for="comment__textarea"
        >Слишком короткий комментарий, необходимо более 10 символов!</label
      >
      <button class="comment__button">Опубликовать</button>
    </form>
  </div>
  <div class="comments__list">
    <div *ngFor="let comment of comments" class="comment__item">
      <span class="comment__author"> {{ comment.name }} </span>
      <p class="comment__text">
        {{ comment.comment }}
      </p>
      <button
        *ngIf="user && user.id === comment.authorId"
        class="comment__delete"
        (click)="deleteComment(comment.id)"
      ></button>
    </div>
    <span *ngIf="!comments.length" class="comments__empty"
      >Комментариев не найдено.</span
    >
  </div>
</div>
