.comments {
  max-width: 780px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 48px auto 56px;
  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #333333;
    padding-bottom: 24px;
  }
  &__empty {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
  }
}

.comment {
  &__form {
    display: block;
    width: 100%;
    position: relative;
  }
  &__item {
    border-radius: 8px;
    background: #f2f2f2;
    width: 100%;
    min-height: 110px;
    border: 0;
    padding: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin-bottom: 16px;
    position: relative;
    &::placeholder {
      color: #333333;
    }
  }
  &__textarea {
    @extend .comment__item;
    background: hsla(2, 79%, 51%, 0.15);
    color: #e5261e;
    &::placeholder {
      color: #e5261e;
    }
    & + label {
      position: absolute;
      top: -40px;
      left: 0px;
      font-size: 11px;
      color: red;
      opacity: 0;
      animation: animateErrorLabel 0.3s ease-in-out forwards;
    }
  }
  &__button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    padding: 9px 29px 10px;
    background: #e5261e;
    border-radius: 4px;
    border: 0;
    outline: 0;
    cursor: pointer;
    position: absolute;
    left: calc(100% + 16px);
    @media (max-width: 1200px) {
      position: relative;
      left: 0;
      margin-bottom: 16px;
    }
  }
  &__author {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    padding-bottom: 8px;
    display: inline-block;
  }
  &__delete {
    display: block;
    width: 15px;
    height: 15px;
    border: 0;
    outline: 0;
    background: url(../../../assets/image/delete.png);
    background-size: contain;
    position: absolute;
    right: -33px;
    top: 0;
    cursor: pointer;

    @media (max-width: 880px) {
      right: 16px;
      top: 16px;
    }
  }
}

@keyframes animateErrorLabel {
  from{
    opacity: 0;
    top: -40px;
  }
  to{
    top: -20px;
    opacity: 1;
  }
}