.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__404 {
    font-size: 20vh;
    line-height: 20vh;
    display: inline-flex;
  }
  &__text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    padding-bottom: 15px;
  }
  &__link {
    @extend .not-found__text;
    text-decoration: none;
  }
}
