// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$project-on-angular-primary: mat-palette($mat-indigo);
$project-on-angular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$project-on-angular-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$project-on-angular-theme: mat-light-theme(
  (
    color: (
      primary: $project-on-angular-primary,
      accent: $project-on-angular-accent,
      warn: $project-on-angular-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($project-on-angular-theme);

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$project-on-angular-primary: mat-palette($mat-indigo);
$project-on-angular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$project-on-angular-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$project-on-angular-theme: mat-light-theme(
  (
    color: (
      primary: $project-on-angular-primary,
      accent: $project-on-angular-accent,
      warn: $project-on-angular-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($project-on-angular-theme);

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Rubik; /* Имя шрифта */
  src: url(./assets/fonts/Rubik-Regular.ttf) format("truetype"); /* Путь к файлу со шрифтом */
  font-weight: normal;
}
@font-face {
  font-family: Rubik; /* Имя шрифта */
  src: url(./assets/fonts/Rubik-Medium.ttf) format("truetype"); /* Путь к файлу со шрифтом */
  font-weight: 500;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Rubik;
  outline: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-nav-bar,
.mat-tab-header {
  border: 0;
}
.mat-tab-label{
  min-width: unset!important;
}
.mat-tab-label,
.mat-tab-link {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #333333;
  height: 44px;
  opacity: 1 !important;
  padding: 0 !important;
  margin: 0 12px;
  &-active {
    color: #e5261e;
  }
}
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #e5261e;
}
